<!--middle area with outlines-->
<div class="whiteBox" style="width: 215.5mm; border: solid .75mm black; border-bottom: solid .375mm black; padding: .25mm; position: relative;">
  <div class="whiteBox" style="width: 214.5mm; border: solid .25mm black;">
    <div class="whiteBox" style="width: 214mm; border: none; font-size: 3.5mm; line-height: 1.5; text-align: left; padding-left: 1mm; font-weight: bold;">Diagnosis:</div>
    <div class="whiteBox" style="width: 214mm; border: none;"></div>
    {{#each accessionOrder.specimenOrders}}
      <div class="whiteBox" style="width: 21mm; border: none; font-size: 3.5mm; line-height: 1; text-align: center; font-weight: bold;">{{specimenOrder.specimenNumber}}:</div>
      <div class="whiteBox" style="width: 190mm; border: none; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm; font-weight: bold;">{{specimenOrder.description}}</div>
      <div class="whiteBox" style="width: 21mm; border: none;"></div>
      <div class="whiteBox" style="width: 190mm; border: none; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm;">{{diagnosis}}</div>
    {{/each}}
    {{#if content}}
      <div class="whiteBox" style="width: 214mm; border: none;"></div>
      <div class="whiteBox" style="width: 30mm; border: none; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm; font-weight: bold;">Comment:</div>
      <div class="whiteBox" style="width: 180mm; border: none; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm;">{{report_comment}}</div>
      <div class="whiteBox" style="width: 105mm; border: none;"></div>
      <div class="whiteBox" style="width: 107mm; border: none; font-size: 3.5mm; line-height: 1; text-align: center;">{{pathologist_signature}}</div>
      <div class="whiteBox" style="width: 105mm; border: none;"></div>
      <div class="whiteBox" style="width: 107mm; border: none; font-size: 2.5mm; text-align: center;">*** E-signed {{accessionOrder.finalizedDate}} ***</div>
      <div class="whiteBox" style="width: 214mm; border: none;"></div>
    {{/if}}
  </div>
</div>
