<!--middle area with outlines-->
<div class="whiteBox" style="width: 215.5mm; border: solid .75mm black; border-bottom: solid .375mm black; padding: .25mm;">
  <div class="whiteBox" style="width: 214.5mm; border: solid .25mm black;">
    <div class="whiteBox" style="width: 214mm; border: 1px dotted; font-size: 3.5mm; line-height: 1.5; text-align: left; padding-left: 1mm; font-weight: bold;">Diagnosis:</div>
    <div class="whiteBox" style="width: 214mm; border: 1px dotted;"></div>
    <div class="whiteBox" style="width: 21mm; border: 1px dotted; font-size: 3.5mm; line-height: 1; text-align: center; font-weight: bold;">1.</div>
    <div class="whiteBox" style="width: 190mm; border: 1px dotted; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm; font-weight: bold;">{{specimen_type}}</div>
    <div class="whiteBox" style="width: 21mm; border: 1px dotted;"></div>
    <div class="whiteBox" style="width: 190mm; border: 1px dotted; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm;">{{diagnosis}}</div>
    <div class="whiteBox" style="width: 214mm; border: 1px dotted;"></div>
    <div class="whiteBox" style="width: 30mm; border: 1px dotted; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm; font-weight: bold;">Comment:</div>
    <div class="whiteBox" style="width: 180mm; border: 1px dotted; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm;">{{report_comment}}</div>
    <div class="whiteBox" style="width: 105mm; border: 1px dotted;"></div>
    <div class="whiteBox" style="width: 107mm; border: 1px dotted; font-size: 3.5mm; line-height: 1; text-align: center;">{{pathologist_signature}}</div>
    <div class="whiteBox" style="width: 105mm; border: 1px dotted;"></div>
    <div class="whiteBox" style="width: 107mm; border: 1px dotted; font-size: 2.5mm; text-align: center;">*** E-signed {{accessionOrder.finalizedDate}} ***</div>
    <div class="whiteBox" style="width: 214mm; border: 1px dotted;"></div>
  </div>
</div>
<div class="whiteBox" style="width: 215.5mm; border: solid .75mm black; border-top: solid .375mm black; padding: .25mm;">
  <div class="whiteBox" style="width: 214.5mm; border: solid .25mm black;">
    <div class="whiteBox" style="width: 107mm; border: none; font-size: 3.5mm; line-height: 2; text-align: left; padding-left: 5mm; font-weight: bold;">{{amendment_date_time}}</div>
    <div class="whiteBox" style="width: 107mm; border: none; font-size: 3.5mm; line-height: 2; text-align: left; padding-left: 5mm;">{{amendment_text}}</div>
    <div class="whiteBox" style="width: 90mm; border: none;"></div>
    <div class="whiteBox" style="width: 107mm; border: none; font-size: 3.5mm; line-height: 2; text-align: center;">{{amendment_signature}}</div>
    <div class="whiteBox" style="width: 90mm; border: none;"></div>
    <div class="whiteBox" style="width: 107mm; border: none; height: 3.5mm; border: none; font-size: 2.5mm; line-height: .75; text-align: center; padding-left: 1mm;">{{signature_title}}</div>
  </div>
</div>
