<div class="whiteBox" style="width: 217mm; border: none;">
  <div class="whiteBox" style="width: 100mm; border: none; text-align: left; font-weight: bold; text-decoration: underline;">Ancillary Studies</div>
</div>
<div class="whiteBox" style="width: 217mm; border: none;">
  <div class="whiteBox" style="width: 100mm; border: none; text-align: left; line-height: 1;">{{ancillary_studies_comment}}</div>
</div>
<div class="whiteBox" style="width: 217mm; border: none;">
  {{#each accessionOrder.specimenOrders}}
    <div class="whiteBox" style="width: 9mm; border: none; text-align: right; font-weight: bold;">{{specimenOrder.specimenNumber}}.</div>
    <div class="whiteBox" style="width: 205mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold;;">{{specimenOrder.description}}</div>
    <div class="whiteBox" style="width: 217mm; border: none;">
      <div class="whiteBox" style="width: 100mm; border: none; text-align: left; line-height: 1; font-weight: bold; text-decoration: underline; padding-left: 4.5mm;">Immunohistochemistry(single)</div>
    </div>
    <div class="whiteBox" style="width: 217mm; border: none;">
      <div class="whiteBox" style="width: 100mm; border: none; text-align: left; line-height: 1; font-weight: bold; text-decoration: underline; padding-left: 4.5mm;">Immunohistochemistry(dual)</div>
    </div>
    <div class="whiteBox" style="width: 217mm; border: none;">
      <div class="whiteBox" style="width: 100mm; border: none; text-align: left; line-height: 1; font-weight: bold; text-decoration: underline; padding-left: 4.5mm;">Cytochemical</div>
    </div>
    <div class="whiteBox" style="width: 217mm; border: none;">
      <div class="whiteBox" style="width: 62mm; border: none;">
        <div class="whiteBox" style="width: 60mm; border: none; text-align: left; line-height: 1; font-weight: bold; text-decoration: underline; padding-left: 10mm;">Test</div>
          <div class="whiteBox" style="width: 60mm; border: none; text-align: left; line-height: 1; padding-left: 10mm;">{{stain_description}}</div>
      </div>
      <div class="whiteBox" style="width: 50mm; border: none;">
        <div class="whiteBox" style="width: 15mm; border: none; text-align: left; line-height: 1; font-weight: bold; text-decoration: underline; padding-left: 4.5mm;">Block</div>
        {{#each specimenOrders.specimenOrder.aliquotOrders}}
          <div class="whiteBox" style="width: 15mm; border: none; text-align: left; line-height: 1; padding-left: 4.5mm;">{{aliquotOrder.label}}</div>
        {{/each}}
      </div>
      <div class="whiteBox" style="width: 104mm; border: none;">
        <div class="whiteBox" style="width: 30mm; border: none; text-align: left; line-height: 1; font-weight: bold; text-decoration: underline; padding-left: 4.5mm;">Result</div>
          <div class="whiteBox" style="width: 30mm; border: none; text-align: left; line-height: 1; padding-left: 4.5mm;">{{stain_result}}</div>
      </div>
    </div>
  {{/each}}
</div>
