<div class="whiteBox" style="width: 217.25mm; height: 32mm; border: none;">
  <!--bottom portion of report-->
  <div class="whiteBox" style="width: 217mm; height: 3mm; border: none;">
    <div class="row">
      <div class="brownBox" style="width: 100mm; border: none; text-align: left; font-size: 3mm; line-height: .75;">Yellowstone Pathology Institute, Inc.</div>
    </div>
  </div>
  <div class="whiteBox" style="width: 74mm; height: 28mm; border: none; font-family: candara;">
    <div class="brownBox" style="width: 74mm; height: 3mm; font-weight: bold; border: none; text-align: left; font-size: 3mm; line-height: .75; border-bottom: solid .5mm;">Billings</div>
    <div class="whiteBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">{{addresses.0.addressline1}}{{addresses.0.addressline2}}</div>
    <div class="whiteBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">{{addresses.0.city}}, {{addresses.0.state}} {{addresses.0.zip}}</div>
    <div class="whiteBox" style="width: 70mm; height: 3mm; border: none; text-align: left; font-size: 3mm;"></div>
    <div class="whiteBox" style="width: 70mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">phone: <span style="font-weight: bold;"> {{addresses.0.phone}}</span>  fax:<span style="font-weight: bold;"> {{addresses.0.fax}}</span></div>
    <div class="whiteBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">toll-free: <span style="font-weight: bold;">{{addresses.0.tollfree}}</span></div>
  </div>
  <div class="whiteBox" style="width: 74mm; height: 28mm; border: none; font-family: candara;">
    <div class="brownBox" style="width: 74mm; height: 3mm; font-weight: bold; border: none; text-align: left; font-size: 3mm; line-height: .75; border-bottom: solid .5mm;">Cody</div>
    <div class="whiteBox" style="width: 74mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">{{addresses.1.addressline1}}{{addresses.1.addressline2}}</div>
    <div class="whiteBox" style="width: 74mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">{{addresses.1.city}}, {{addresses.1.state}} {{addresses.1.zip}}</div>
    <div class="whiteBox" style="width: 70mm; height: 3mm; border: none; text-align: left; font-size: 3mm;"></div>
    <div class="whiteBox" style="width: 74mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">phone: <span style="font-weight: bold;">{{addresses.1.phone}}</span> fax: <span style="font-weight: bold;">{{addresses.1.fax}}</span></div>
    <div class="whiteBox" style="width: 74mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">toll-free <span style="font-weight: bold;">{{addresses.1.tollfree}}</span></div>
  </div>
  <div class="whiteBox" style="width: 67mm; height: 28mm; border: none; font-family: candara;">
    <div class="brownBox" style="width: 67mm; height: 3mm; border: none; text-align: left; font-size: 3mm; line-height: .75; text-align: right; border-bottom: solid .5mm;">YellowstonePathology.com</div>
    {{#each pathologist}}
    <div class="brownBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm; text-align: right;">{{this}}</div>
    {{/each}}
  </div>
</div>
