<div class="whiteBox" style="width: 217.1mm; border: none;">
  <div class="whiteBox" style="width: 20mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 2; text-align: left; padding-left: 1mm;">Patient:</div>
  <div class="whiteBox" style="width: 80mm; height: 6mm; border: none; font-size: 6mm; font-weight: bold; line-height: 1.25; text-align: left;">{{accessionOrder.pLastName}}, {{accessionOrder.pFirstName}} {{accessionOrder.pMiddleInitial}}</div>
  <div class="whiteBox" style="width: 86mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 2; text-align: left;">(DOB: {{accessionOrder.pBirthdate}})</div>
  <div class="whiteBox" style="width: 128mm; height: 6mm; border: none;"></div>
  <div class="whiteBox" style="width: 46mm; height: 6mm; border: none; line-height: 1.75; text-align: right; font-size: 4mm;">Report Date:</div>
  <div class="whiteBox" style="width: 40mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 2; text-align: left; padding-left: 1mm;">{{accessionOrder.finalizedDate}}</div>
  <div class="whiteBox" style="width: 19.5mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 2; text-align: left; padding-left: 1mm;">Provider:</div>
  <div class="whiteBox" style="width: 107mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 2; text-align: left;">{{accessionOrder.physicianName}}</div>
  <div class="whiteBox" style="width: 46mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 1.75; text-align: right; font-size: 4mm;">Accessioned:</div>
  <div class="whiteBox" style="width: 40mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 2; text-align: left; padding-left: 1mm;">{{accessionOrder.accessionDate}}</div>
  <div class="whiteBox" style="width: 20.5mm; height: 6mm; border: none;"></div>
  <div class="whiteBox" style="width: 107mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 2; text-align: left;">{{accessionOrder.clientName}}</div>
  <div class="whiteBox" style="width: 46mm; height: 6mm; border: none; line-height: 1.75; text-align: right; font-size: 4mm;">Date of Service:</div>
  <div class="whiteBox" style="width: 40mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 2; text-align: left; padding-left: 1mm;">{{accessionOrder.collectionDate}}</div>
  <div class="whiteBox" style="width: 128mm; height: 6mm; border: none;"></div>
  <div class="whiteBox" style="width: 46mm; height: 6mm; border: none; line-height: 1.75; text-align: right; font-size: 4mm;">Client MRN:</div>
  <div class="whiteBox" style="width: 40mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 2; text-align: left; padding-left: 1mm;">{{client_mrn_no}}</div>
  <div class="whiteBox" style="width: 13.5mm; height: 6mm; border: none;"></div>
  <div class="whiteBox" style="width: 114mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 2; text-align: left; padding-bottom: 1mm;">Full distribution list is provided at the end of the report</div>
  <div class="whiteBox" style="width: 46mm; height: 6mm; border: none; line-height: 1.75; text-align: right; font-size: 4mm; padding-bottom: 1mm;">Client Account No:</div>
  <div class="whiteBox" style="width: 40mm; height: 6mm; border: none; font-size: 3.6mm; line-height: 2; text-align: left; padding-left: 1mm; padding-bottom: 1mm;">{{client_account_no}}</div>
</div>
