<!--middle area with outlines-->
<div class="whiteBox" style="width: 215.5mm; height: 45mm; border: solid .75mm black; border-bottom: solid .375mm black; padding: .25mm;">
  <div class="whiteBox" style="width: 214.5mm; height: 44.5mm; border: solid .25mm black;">
    <div class="row">
      <div class="whiteBox" style="width: 63mm; border: none; font-size: 3.5mm; line-height: 1.5; text-align: left; padding-left: 1mm; font-weight: bold;">Diagnosis:</div>
    </div>
    <div class="row">
      <div class="whiteBox" style="width: 63mm; border: none; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm;">{{specimen_blank_row}}</div>
    </div>
    <div class="row">
      <div class="whiteBox" style="width: 20mm; border: none; font-size: 3.5mm; line-height: 1; text-align: center; padding-left: 1mm; font-weight: bold;">{{s_id}}</div>
      <div class="whiteBox" style="width: 63mm; border: none; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm; font-weight: bold;">{{specimen_type}}</div>
    </div>
    <div class="row">
      <div class="whiteBox" style="width: 60mm; border: none; font-size: 3.5mm; line-height: 1; text-align: center; padding-left: 1mm;">diagnosis</div>
    </div>
    <div class="row">
      <div class="whiteBox" style="width: 30mm; border: none; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm; font-weight: bold;">Comment:</div>
      <div class="whiteBox" style="width: 63mm; border: none; font-size: 3.5mm; line-height: 1; text-align: left; padding-left: 1mm;">{{report_comment}}</div>
    </div>
    <div class="row">
      <div class="whiteBox" style="width: 90mm; border: none;"></div>
      <div class="whiteBox" style="width: 107mm; border: none; font-size: 3.5mm; line-height: 1; text-align: center;">{{pathologist_signature}}</div>
    </div>
    <div class="row">
      <div class="whiteBox" style="width: 90mm; border: none;"></div>
      <div class="whiteBox" style="width: 107mm; border: none; height: 3.5mm; border: none; font-size: 2.5mm; line-height: .5; text-align: center; padding-left: 1mm;">{{e_signed}}</div>
    </div>
    <div class="row">
      <div class="whiteBox" style="width: 19mm; border: none; font-size: 3.5mm; line-height: 2; text-align: left; padding-left: 1mm; font-weight: bold;">{{amendment_blank_row}}</div>
    </div>
  </div>
</div>
<div class="whiteBox" style="width: 215.5mm; height: 22.75mm; border: solid .75mm black; border-top: solid .375mm black; padding: .25mm;">
  <div class="whiteBox" style="width: 214.5mm; height: 22.25mm; border: solid .25mm black;">
    <div class="row">
      <div class="whiteBox" style="width: 107mm; border: none; font-size: 3.5mm; line-height: 2; text-align: left; padding-left: 5mm; font-weight: bold;">{{amendment_date_time}}</div>
    </div>
    <div class="row">
      <div class="whiteBox" style="width: 107mm; border: none; font-size: 3.5mm; line-height: 2; text-align: left; padding-left: 5mm;">{{amendment_text}}</div>
    </div>
    <div class="row">
      <div class="whiteBox" style="width: 90mm; border: none;"></div>
      <div class="whiteBox" style="width: 107mm; border: none; font-size: 3.5mm; line-height: 2; text-align: center;">{{amendment_signature}}</div>
    </div>
    <div class="row">
      <div class="whiteBox" style="width: 90mm; border: none;"></div>
      <div class="whiteBox" style="width: 107mm; border: none; height: 3.5mm; border: none; font-size: 2.5mm; line-height: .75; text-align: center; padding-left: 1mm;">{{signature_title}}</div>
    </div>
  </div>
</div>
